<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login for training</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron col-xs-12">
        <h1 class="text-primary">Welcome to BioLogin<h1>
        <h2>Username for training<h2>
        <form action="/" method="post">
          <div class="form-group">
            <input class="form-control" type = "text" name = "username" autofocus>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
